html,body,div,p,ul,dl,ol,li,h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
	font:12px/2em "微软雅黑";
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
body,html{
	height:100%;
	width:100%;
	background:url('../images/index/login_bg.png') no-repeat;
	background-size:100%;
}
.clearfix{
	content:'';
	display:block;
	clear:both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.logo{
	width:234px;
	height:68px;
	margin:0 auto;
	background: url('../images/index/logo.png') no-repeat center;
	background-size: 100%;
}
.resign{
	width:100%;
	height:100%;
	position: relative;
	display:flex;
	justify-content:center;
	align-items:center;
}

.resign_from{
	width:414px;
	/*height:558px;*/
	height:auto;
	overflow: hidden;
	/*background-color: #fff;*/
	/* position:absolute;
	  	top:0;
	  	right:0;
	  	bottom:0;
	  	left:0;
	  	margin:auto; */
}
.resign_from h4{
	background: linear-gradient(to right,#1c1467 0%,#662e93 100%);
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color:#fff;
}
.error{
	width:100%;
	color:#900b09;
	text-align:center;
	line-height:38px;
	height:38px;
}
.resign_body{
	background-color:#fff;
}
.company_show{
	display:none;
}
.resign_div{
	width:100%;
	height:28px;
	line-height: 28px;
	overflow: hidden;
	margin-bottom: 20px;
}
.resign_div span{
	line-height: 28px;
	color:#808080;
	font-size: 12px;
	width:82px;
	margin-right:10px ;
	text-align: right;
}
.resign_dright{
	width:;
	height:28px;
}
.resign_dright label{
	line-height: 28px;
	color:#808080;
	font-size: 12px;
}
.resign_dright input[type="checkbox"]{
	margin-top: 7px;
	margin-right: 5px;
 -webkit-appearance: none;  /*清除复选框默认样式*/
  background:url("../images/index/unselect.png") no-repeat center;   /*复选框的背景图，就是上图*/
  height: 13px;   /*高度*/
  vertical-align: middle;
  width: 13px;
}
.resign_dright input[type="checkbox"]:checked {
  background:url("../images/index/unselect1.png") no-repeat center;   /*复选框的背景图，就是上图*/
}
.resign_dright select{
	width:127px;
	height:28px;
		appearance:none;
-moz-appearance:none;
-webkit-appearance:none;

/*在选择框的最右侧中间显示小箭头图片*/
background: url("../images/index/select_img.jpg") no-repeat scroll right center transparent;
padding-left:12px;
}
.resign_dright input{
	height:28px;
	width:274px;
	display: inline-block;
	box-sizing: border-box;
}
.resign_dright .msg{
	width:160px;
}
.resign_dright .captcha{
	width:70px;
	height:28px;
	margin-left: 12px;
	box-sizing: border-box;
	border:1px solid #3fa9f5;
	text-align: center;
}
.change_msg{
	display:inline-block;
	width:28px;
	height:28px;
	background:url('../images/index/img_change.png') no-repeat center;

}
.resign_submit{
	line-height:57px;
	box-sizing: border-box;
	background:#e6e6e6;
	/*padding-top:16px;*/
}
.resign_submit button,.resign_submit .resign_cancel{
	display: inline-block;
	height:28px;s
	line-height: 28px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	font-size: 14px;
	border:0;
	outline: none;
}
.resign_sure{
	width:161px;
	margin-left:88px ;
	margin-right: 10px;
	background-color: #3fa9f5;
	cursor: pointer;
	border: 0;
	height:28px;
}
.active{
	background: #A9A9A9;
}
.resign_cancel{
	width:68px;
	background-color: #c2272d;
}
