html,body,div,p,ul,dl,ol,li,h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
	font:12px/2em "微软雅黑";
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
body{
	position: relative;
	/*height:100%;*/
	background:url('../images/index/login_bg.png') no-repeat;
	background-size:100%;
	top:0;
	left:0;
}
.clearfix{
	content:'';
	display:block;
	clear:both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.resign{
	/*width:100%;*/
	/*height:100%;
	position: relative;*/
	/* position: absolute;
	    left:50%;top:50%;
	    display: table;text-align: center; */
	width:414px;
	height:558px;
}

.resign_from{
	width:414px;
	height:558px;
	background-color: #fff;
    /* display: table-cell;vertical-align: middle;
	position:absolute;*/
	/* top:100px;
	left:200px; */
/* 
	top:50%;
	left:50%;  */
	/* margin-left: -207px;
	margin-top: 100px; */
}
.resign_from h4{
	background: linear-gradient(to right,#1c1467 0%,#662e93 100%);
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color:#fff;
}
.error{
	width:100%;
	color:#900b09;
	text-align:center;
	line-height:38px;
}
.resign_div{
	width:100%;
	height:28px;
	line-height: 28px;
	overflow: hidden;
	margin-bottom: 33px;
}
.resign_div span{
	line-height: 28px;
	color:#808080;
	font-size: 12px;
	width:82px;
	margin-right:10px ;
	text-align: right;
}
.resign_dright{
	width:;
	height:28px;
}
.resign_dright select{
	width:127px;
	height:28px;
		appearance:none;
-moz-appearance:none;
-webkit-appearance:none;

/*在选择框的最右侧中间显示小箭头图片*/
background: url("../images/index/select_img.jpg") no-repeat scroll right center transparent;
padding-left:12px;
}
.resign_dright input{
	height:28px;
	width:274px;
	display: inline-block;
	box-sizing: border-box;
}
.resign_dright .msg{
	width:160px;
}
.resign_dright .captcha{
	width:70px;
	height:28px;
	margin-left: 12px;
	box-sizing: border-box;
	border:1px solid #3fa9f5;
	text-align: center;
}
.change_msg{
	display:inline-block;
	width:28px;
	height:28px;
	background:url('../images/index/img_change.png') no-repeat center;

}
.resign_submit{
	line-height:57px;
	box-sizing: border-box;
	background:#e6e6e6;
	/*padding-top:16px;*/
}
.resign_submit>span{
	display: inline-block;
	height:28px;
	line-height: 28px;
	text-align:center;
	color:#fff;
}
.resign_sure{
	width:161px;
	margin-left:88px ;
	margin-right: 10px;
	background-color: #3fa9f5;
}
.resign_cancel{
	width:68px;
	background-color: #c2272d;
}
