@sideWidth:200px;

.headerStyle {
    flex: 1;
    // display: flex;
    // justify-content: space-between;
    background-color: white
}

// .logoStyle {
//     display: flex;
//     width: @sideWidth;
//     justify-content: center;
//     align-items: center;
//     background-color: aquamarine
// }

// .loginBtnStyle {
//     display: flex;
//     width: 200px;
//     justify-content: center;
//     align-items: center;
//     background-color: bisque
// }

.categoryStyle {
    display: flex;
    flex: 1;
    height: 850px;
    flex-direction: row;
}

.categorySelectStyle {
    width: @sideWidth;
    background-color: aqua
}

.cardListStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}