body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
ul,li{
  list-style: none;
}

/*单行溢出*/
.one_txt_cut {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*多行溢出 手机端使用*/
.txt_cut {
	overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#root {
  height: 100%;
  overflow: hidden;
}
